<h1>GYM Classes</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Capacity</th>
      <th scope="col">reservations</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @klasses.each do |klass| %>
    <tr>
      <td><%= klass.id %></td>
      <td><%= klass.date%></td>
      <td><%= klass.time%></td>
      <td><%= klass.capacity%></td>
      <td>Go</td>
      <td><%= button_to "Delete", klass, :method => :delete %></td>
    <% end %>
  </tbody>
</table>
